.table {
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid black;
}

.item {
  border: 1px solid black;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
thead {
  background-color: rgb(41, 41, 41);
  color: aliceblue;
  font-size: larger;
}

thead th:nth-child(1) {
  width: 33%;
}

thead th:nth-child(2) {
  width: 33%;
}

thead th:nth-child(3) {
  width: 33%;
}

th,
td {
  padding: 4px;
  border: 1px solid black;
  text-align: center;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: darkgray;
}
